*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/captures
.externalNativeBuild
src/main/assets/
build/
google-services.json
src/main/java/nyc/c4q/jonathancolon/inContaq/common/di/DaysPassedModule.java
src/main/java/nyc/c4q/jonathancolon/inContaq/common/di/WeeksPassedModule.java
src/main/java/nyc/c4q/jonathancolon/inContaq/notifications/DaysPassed.java
src/main/java/nyc/c4q/jonathancolon/inContaq/notifications/WeeksPassed.java
src/test/java/nyc/c4q/jonathancolon/inContaq/ContactClassTest.java

.idea/codeStyleSettings.xml
